/*
Theme Name: Hitchcock Childe
Description: Für neue Beitragsformate               
Author: DesignerThan
Author URI: http://designerthan.at
Template: hitchcock          
Version: 1.0
*/

/*Transitions*/
.post .post-overlay,
.has-post-thumbnail .archive-post-header,
.sticky .post-overlay > p span
{
	-webkit-transition: all 0.3s ease-in-out;
	 -moz-transition: all 0.3s ease-in-out;
	 -ms-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
}

/*Anpassung des Headers, dass das Zitat in einer Zeile ist und der Autor in der zweiten.*/

.header.section-inner .blog-description
{ 
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/*----------------------------*/
/*Aside Post Format Design CSS*/
/*----------------------------*/

.post-inner-aside
{
	width: 100%;
	background-size: cover;
	background-position: center;
}

.post-content-aside
{
	width: 85%;
	background: hsla(0,0%,100%,0.70);
	padding: 50px;
	margin: 50px auto;
}

.post-header-aside
{
	background: hsla(0,0%,100%,0.70);
	width: 100%;
	padding: 20px;
	padding-top: 25px;
	margin: 0;
}

.post-header-aside .post-title
{
	color: hsla(0,0%,0%,1.00);
}

.post-header-aside .post-date
{
	color: hsla(0,0%,20%,1.00);
}

.post-meta-aside
{
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 10px;
	color: hsla(0,0%,100%,1.00);
}

.post-meta-aside 
{ 
	margin-top: 40px;
	font-size: 14px;
	color: #6A6A6A;
}

.post-meta-aside p { line-height: 150%; }

.post-meta-aside a { color: #6A6A6A; }
.post-meta-aside a:hover { 
	color: #6A6A6A;
	text-decoration: underline; 
}

.post-edit-aside:before 
{
	content: "";
	display: block;
	width: 32px;
	height: 1px;
	background: #ddd;
	margin: 10px 0 8px;
}

.format-aside .comments-container
{
	margin-top: 0;
}


/*----------------------------*/
/*Video Post Format Design CSS*/
/*----------------------------*/

.post-header-video
{
	width: 90%; 
	margin: 0 auto; 
	padding: 50px 0 10px;
}

.post-inner-video 
{
	width: 100%; 
	max-width: 100%; 
	min-height: 370px; 
	margin: 0 auto; 
	padding: 0 0 50px;
}

.post-content-video
{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

.post-meta-video
{
	width: 600px;
	padding-top:15px;
	margin: 0 auto;
	color: #999;
}

.post-meta-video p { line-height: 150%; }

.post-meta-video a { color: #999; }
.post-meta-video a:hover { 
	color: #999;
	text-decoration: underline; 
}

.post-edit-video:before {
	content: "";
	display: block;
	width: 32px;
	height: 1px;
	background: #ddd;
	margin: 10px 0 8px;
}

/*Text unterhalb von Video in der Width anpassen und zentrieren*/
.description
{
	width: 600px !important;
	margin-left:auto;
	margin-right:auto;
	padding-top:15px;
}

/*---------------------*/
/*About-Page CSS-Design*/
/*---------------------*/

/*Header IMG for Author*/
.about-page .post-container
{
	padding-top: 30px;
}

.about-page .featured-media img 
{
	display: block;
}

.about-page .featured-media span /*Text im Bild des Autor*/
{
	background-color: hsla(0,0%,0%,0.60);
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 45px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}

.about-page .featured-media 
{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

/*Zitat anpassen*/
.about-page .post-content blockquote p
{
	text-align: center;
}

/*Design der About-Page*/
.about-page .post-inner
{
	width: 750px;
}

.about-content
{
	display: flex;
}

.author-information
{
	width: 50%;
	float: left;
	padding-right: 5%;
	border-right: thick solid #fafafa;
	align-items: stretch;
}

.blog-information
{
	width: 50%;
	float: right;
	padding-left: 5%;
	border-left: thick solid #fafafa;
	align-items: stretch;
	
}

/*-----------*/
/*Single Post*/
/*-----------*/

.post-header
{
	padding: 60px 0 40px;
}

.post-inner
{
	width: 600px;
	max-width: 85%;
	margin: 0 auto;
	padding: 0;
}

.post-meta 
{
	margin-bottom: 90px
}

/*--------------------*/
/*Sonstige CSS-Klassen*/
/*--------------------*/

.img-circle
{
	border-radius: 50%;
}

/*Blog*/

.post-overlay
{
	background:hsla(0,0%,0%,0.00);
}

.archive-post-header
{
	background: hsla(0,0%,0%,0.80);
	left: 0;
	padding: 10px 10px 10px 30px;
}

.archive-post-title
{
	color: hsla(0,0%,95%,1.00);
}

.has-post-thumbnail .post-overlay
{
	background: rgba(0,0,0,0.00);
	opacity: 1;
}

.has-post-thumbnail .archive-post-header 
{
	bottom: 30px; 
}

.has-post-thumbnail:hover .archive-post-header 
{ 
	bottom: 30px; 
}

.post.has-post-thumbnail:hover .archive-post-title 
{ 
	color: #3bc492; 
}

.sticky .post-overlay > p span
{
	font-size: 30px;
}

.sticky .post-overlay:hover > p span
{
	color: #3bc492;
}

/*----------*/
/*Responsive*/
/*----------*/

@media ( max-width: 600px )
{
	/*Aside Post Format*/
	
	/*Single Post Format*/
	.post-inner { padding: 0; }
}

@media ( max-width: 900px )
{
	/*Aside Post Format*/
	.post-header-aside
	{
		max-width: 100%;
		padding: 10px;
		padding-top: 15px;
	}
	
	.post-inner-aside
	{
		max-width: 100% !important;
		width: 100%;
	}
	
	.post-content-aside
	{
		width: 100%;
		padding: 20px;
	}
	
	.format-aside .post-meta
	{
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
		padding-bottom: 10px;
	}
	
	/*Video Post Format*/
	.description
	{
		width: 90% !important;
		margin-left:auto;
		margin-right:auto;
		padding:15px;
	}
	
	.post-meta-video
	{
		width: 90%;
		padding:15px;
		margin: 0 auto;
		color: #999;
	}
}